body
{
    background-image: url(assets/topography.png);
    margin-top: 5%;
}

.subtitle
{
    color: #ff0099;
    
    font-family: 'Lora', serif;
}

.separator
{
    text-align: center;
}

.topnav
{
    margin-left: -0.45%;
    background-color: #333333;
    width: 100%;
    overflow: hidden;
    position: fixed;
    top: 0;
    padding-top: 0.5%;
    padding-bottom: 0.5%;
}

.topnav a
{
    float: right;
    color: #ff0099;
    text-decoration: underline;
    text-align: center;
    padding: 0.5em 0.8em
}

.logo
{
    float: left;
    margin-left: 0,9em;
}

h2
{
    text-align: center;
    font-family: 'Inter', sans-serif;
    font-weight: bold;
}

p
{
    font-family: consolas;
}
#TEXT
{
    padding-left: 10%;
    padding-right: 10%;
}

#logo
{
    padding-left: 10%;
}